<div class="carousel-container">
  <div class="carousel">
    <div class="slide">
      <img src="../../static/images/carousel/alien-vs-predator.png">
    </div>
    <div class="slide">
      <img src="../../static/images/carousel/interestellar.png">
    </div>
    <div class="slide">
      <img src="../../static/images/carousel/babylon-ad.png">
    </div>
    <div class="slide">
      <img src="../../static/images/carousel/batman.png">
    </div>
    <div class="slide">
      <img src="../../static/images/carousel/blade-runner.png">
    </div>
    <div class="slide">
      <img src="../../static/images/carousel/deadpool.png">
    </div>
    <div class="slide">
      <img src="../../static/images/carousel/gravity.png">
    </div>
    <div class="slide">
      <img src="../../static/images/carousel/avatar.png">
    </div>
    <div class="slide">
      <img src="../../static/images/carousel/lucy.png">
    </div>
    <div class="slide">
      <img src="../../static/images/carousel/matrix.png">
    </div>
    <div class="slide">
      <img src="../../static/images/carousel/terminator.png">
    </div>
  </div>
</div>