:root {
    --color-white: #FFFFFF;
    --color-light-grey: #DBDBDB;
    --color-mid-grey: #6F6F6F;
    --color-dark-grey: #343434;
    --color-dark: #080808;
    --color-accent-pink: #CA3678;
    
    --background-color: #282828;

    --boxshadow-float: 0 4px 12px rgba(0, 0, 0, 0.3), 0 8px 24px rgba(0, 0, 0, 0.3);
}